page-quiz {

    ion-img{
        height: 30vh;
        width: auto;
        margin: auto;
        display: block;
    }

    ion-button{
        height: 8px;
        width: 32px;
        padding-top: 16px;
    }

}
