page-vocabularydetail {
    ion-header{
        color: blue($color: #000000);
        background-color: blue($color: #000000);
    }
    ion-navbar{
        color: blue($color: #000000);
        background-color: blue($color: #000000);
    }
    ion-title{
        color: blue($color: #000000);
        background-color: blue($color: #000000);
    }
}
